/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.c100{
    width: 100%;
    vertical-align: top;
    display: inline-block;
}
.cme-login-form input,.cme-login-form input[type="email"],.cme-login-form input[type="password"]{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid black;
    background: white;
}
.cme-login-form-btn{
    width: 150px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px gray;
}

.cme-login-form-btn:hover{
    box-shadow: 1px 1px 5px 0px black;

}
.cme-supplier-form input,.cme-supplier-form input[type="email"],.cme-supplier-form input[type="text"]{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid black;
    background: white;
}
.cme-supplier-form-btn{
    width: 150px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px gray;
}

.cme-supplier-form-btn:hover{
    box-shadow: 1px 1px 5px 0px black;

}